/****/

body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin:0;
	padding:0;
	font-family:"Helvetica Neue","Microsoft YaHei",simsun,sans-serif;
	line-height:0.2rem;
	font-size:0.16rem;
}
html {font-size:100px;}
body { min-width:3.2rem; background:#fff; color:#000;}
body{
-webkit-text-size-adjust: none;
/*-webkit-tap-highlight-color: rgba(0,0,0,0);*/
-webkit-font-smoothing: antialiased;
-webkit-touch-callout:none;
-webkit-user-select: none;
}
ul,li {list-style:none;}
input,textarea {vertical-align:middle; font-size:100%;}
textarea {	overflow: auto;	vertical-align: middle}
h1,h2,h3,h4,h5,h6 {font-size:100%; font-weight:normal;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe { display: block}
em,i {font-style:normal; font-size:100%;}
img {
  max-width: 100%;
  vertical-align: middle;
  border: 0 none;
  -ms-interpolation-mode: bicubic;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
  border-radius:0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color:transparent;
  outline:0 none;
}
.center {text-align:center;}
input[type=button]{outline:none}
a { text-decoration:none;	color:#666; font-size:0.16rem; /*-webkit-tap-highlight-color:transparent;*/}
a:active{ color:#0846a3; -webkit-tap-highlight-color:rgba(0,0,0,.2); text-decoration:none;}
/*a:focus,input:focus{ 
  -webkit-tap-highlight-color:rgba(0,0,0,0); 
  -webkit-user-modify:read-write-plaintext-only; 
}*/
.songjiList input:focus,.songjiList textarea:focus{ -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-user-modify:read-write-plaintext-only;  }

.clearfix:after,.carList:after {  content:'\0020';  display:block;  height:0;  clear:both;}
.clearfix {  zoom:1;} 
html,body {min-height:100%; overflow-x:hidden;}
body {background: #f6f6f6}
.text-org {color:#ff6600 !important;}
.text-red {color:#ff0000 !important;}
 @media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi),only screen and (min-resolution: 2dppx)  {
  .bd-c input,.tipBox .tip-head,.lf-list li .fl-r input,.lf-list li .fl-r textarea,.gj-list li,.lc-list li,.yq-hm .yq-head,.map-hm .map-head {border-width:1px; border-image:url(../img/icon_border.png) 2 stretch; -webkit-border-image:url(../img/icon_border.png) 2 stretch; }
} 
  .bd-c input,.tipBox .tip-head,.lf-list li .fl-r input,.lf-list li .fl-r textarea,.gj-list li,.lc-list li,.yq-hm .yq-head,.map-hm .map-head { border-color:#D8D8D8; border-style:solid; border-width:1px}
/*******************/
 span.on:before{background:url(../img/icon.png) no-repeat; background-size:2rem auto;}

#loading,.tipBg {position:fixed; top:0; left:0; right:0; bottom:0; width:100%; height:100%; z-index:101; opacity: 0 }
.drx-mask,.tip-mask {position:absolute; left:0; top:0; width:100%; height:100%; background:rgba(0,0,0,.7);}
.drx-dialog,.tipBg .tipBox {position:relative; z-index:100; width:100%; height:100%; display:-webkit-box; display:box; -webkit-box-pack:center; box-pack:center; -webkit-box-align:center; box-align:center;}
.dialog-bd {width:1.2rem; height:1.2rem; background:rgba(0,0,0,.9); text-align:center; -webkit-border-radius:0.05rem; border-radius:0.05rem;}
.dialog-bd .icon-load {margin:0.3rem 0 0.1rem; display:inline-block; width:0.32rem; height:0.32rem; background:url(../img/loadings.png) no-repeat; background-size:0.32rem auto; -webkit-transition:-webkit-transform 1s;transition:transform 1s; -webkit-animation:loadingRun 1s linear infinite;}
.dialog-bd p {color:#fff;font-size: 0.14rem;}
@-webkit-keyframes loadingRun {
  0% {-webkit-transform:rotate(0deg);}
  100% {-webkit-transform:rotate(360deg);}
}

.binding,.lf-list li,.gj,.btn-c,.lc-list li,.stopList li {display:-webkit-box; display:box; display:-webkit-flex; display:-ms-flexbox; display:flex;}
.binding > span,.lf-list li .fl-r,.gj > div,.btn-c .btn,.lc-list li > span,.stopList li .s-l {display:block; -webkit-box-flex:1; box-flex:1; -webkit-flex:1; -ms-flex:1; flex:1;}
/***********/
#main {min-width: 3rem; max-width: 6.4rem; margin:0 auto; padding:0.1rem;}

.bindBox {padding:0.1rem 0;}
.bindBox .bind-list li {margin-bottom: 0.2rem}
.bindBox .bind-list li a { display:block; padding:0.3rem 0 0.3rem 1rem; position: relative; font-size: 0.2rem; line-height: normal; background-color:#1f80bf; color:#fff; -webkit-border-radius:0.05rem; border-radius:0.05rem; }
.bindBox .bind-list li.a2 a { background-color:#1fbf2a;}
.bindBox .bind-list li.a3 a { background-color:#f64b00;}
.bindBox .bind-list li a i {display: inline-block; position: absolute; left:0.5rem; top:50%; margin-top:-0.21rem; width:0.42rem; height: 0.42rem; background: url(../img/icon.png) no-repeat; -webkit-background-size:1.5rem auto; background-size:1.5rem auto;}
.bindBox .bind-list li.a1 a i {background-position: -0.33rem 0}
.bindBox .bind-list li.a2 a i {background-position: -0.33rem -0.42rem}
.bindBox .bind-list li.a3 a i {background-position: -0.82rem 0}
.bindBox .bind-list li a span {display: inline-block; }

.bind-sf {padding:0.1rem 0.05rem 0.2rem;}
.binding {padding-top: 0.15rem;}
.binding > span:first-child {text-align: right;}
.binding em {display: block; padding:0.12rem 0.4rem 0;}
.bind-sf  .bd-txt {font-size: 0.14rem; padding:0.2rem 0 0;}
.bd-c {margin-top: 0.2rem;}
.bd-c input {margin-bottom:0.15rem; border-width:0; border-width:1px;padding:0.05rem; height: 0.4rem; background: #fff; line-height: normal; width: 100%; -webkit-box-sizing:border-box; box-sizing:border-box;}
.btn-c {margin-top:0.15rem; }
.btn-c .btn:last-child {margin-left:0.15rem;}
.btn-c .btn:first-child {margin-left:0;}
.btn {display: block; height: 0.4rem; line-height: 0.4rem; background: #f64b00; color:#fff; -webkit-border-radius:0.03rem; border-radius:0.03rem; text-align: center;}
.btn-c .cannel-btn {background-color: #999}
.btn a {color:#fff;}

.laifang {background: #fff; padding:0.2rem 0.1rem; -webkit-box-shadow:0 0 0.05rem rgba(0,0,0,.1);}
.laifang h6 {text-align: center; padding:0 0 0.2rem; font-size: 0.18rem;}
.lf-list li {margin-bottom: 0.15rem}
.lf-list li:last-child {margin-bottom: 0}
.lf-list li .lf-l {display: block; width: 0.7rem; padding-right:0.1rem; text-align: right; font-size: 0.14rem;line-height: 0.35rem;}
.lf-list li .fl-r input {border-width:1px; color:#999; padding:0.05rem; height: 0.35rem; background: #fff; line-height: normal; width: 100%; -webkit-box-sizing:border-box; box-sizing:border-box;}
.lf-list li .fl-r textarea {border-width:1px; color:#999; padding:0.05rem;  width: 100%; -webkit-box-sizing:border-box; box-sizing:border-box;}
.lf-list li .fl-r .r-txt {line-height: 0.35rem;}
.lf-list li.noLi {margin-bottom: 0.03rem}
.code {text-align: center; padding:0.3rem 0.15rem 0;}
.code .code-tit {display: block; margin-top: 0.2rem; font-size: 0.14rem;}

.tipBox {position: fixed; left:0; top:0; height:100%; width: 100%; display: none; opacity: 0; }
.tipBox .mask {position: fixed; left:0; top:0; height:100%; width: 100%; z-index:9998; background: rgba(0,0,0,.5)}
.tipBox .tip-content {position: absolute; width: 2.8rem; left:50%; top:50%; -webkit-border-radius:0.05rem; -webkit-transform:translate3d(-50%,-50%,0);transform:translate3d(-50%,-50%,0);background: #fff; z-index: 9999;}
.tipBox .tip-head {text-align: center; border-width:0; border-bottom-width: 0.01rem; padding:0.08rem 0; position: relative;}
.tipBox .tip-head .close-btn {position: absolute; right:0.07rem; top:0.05rem; width:0.28rem; height: 0.28rem; background: url(../img/close.png) no-repeat center center; -webkit-background-size: 0.17rem 0.17rem; background-size: 0.17rem 0.17rem;}
.tipBox .tip-c {padding:0.1rem 0.2rem;}
.tipBox .tip-c .tip-txt {text-align: center; padding:0.06rem 0;}
.tipBox .tip-c .tip-btn {display: block; margin-top:0.15rem; height: 0.4rem; line-height: 0.4rem; background: #f64b00; color:#fff; -webkit-border-radius:0.03rem; border-radius:0.03rem; text-align: center;}

.gj {background:#1f80bf; padding:0.2rem 0;}
.gj > div {text-align: center;}
.gj > div a img {width: 0.55rem; height: 0.55rem;}
.gj > div a span {display: block; font-size: 0.14rem; padding-top: 0.08rem; color:#fff;}

.guo-jia { padding-bottom: 0.2rem;}
.gj-box {margin-top: 0.2rem; background-color: #fff; -webkit-box-shadow:0 0  0.05rem rgba(0,0,0,.05);}
.gj-list li {border-width: 0; border-top-width: 0.01rem;}
.gj-list li:last-child {border-bottom-width: 0.01rem;}
.gj-list li a {display: block; padding:0.13rem 0.3rem 0.13rem 0.5rem; position: relative; color:#000;}
.gj-list li a i {position: absolute; left:0.15rem; top:50%; margin-top:-0.12rem; width:0.25rem; height:0.25rem; background: url(../img/icon.png) no-repeat; background-size: 1.5rem auto;}
.gj-list li a i.g1 {background-position: 0 0}
.gj-list li a i.g2 {background-position: 0 -0.34rem}
.gj-list li a i.g3 {background-position: 0 -0.6rem}
.gj-list li a:after {position: absolute; content: ""; right:0.12rem; top:50%; margin-top: -0.06rem; border-color:#aaa; border-width:1px 0 0; border-style: solid; width:0.12rem; height: 0.12rem; -webkit-transform:rotate(45deg);}


.fangke {}
.fangke dl {margin-bottom: 0.1rem; }
.fangke dl dt {padding:0.08rem 0.1rem; overflow: hidden; background-color: #fff;  border-style:solid; border-width:1px; border-color:#b4b4b4  #b4b4b4 #d7d7d7; -webkit-border-radius:0.04rem 0.04rem 0 0;border-radius:0.04rem 0.04rem 0 0;}
.fangke dl dt .d-l {float:left; }
.fangke dl dt .d-r {float:right; font-size: 0.14rem; color:#000;}
.fangke dl dd {background:#f6f6f6;  font-size: 0.14rem;padding:0.1rem; border-style:solid; border-width:1px; border-color:#b4b4b4; -webkit-border-radius:0 0 0.04rem 0.04rem;border-radius:0 0 0.04rem 0.04rem;}
.fangke dl dd .fk-c {overflow: hidden;}
.fangke dl dd .fk-c .d-time {float:left;}
.fangke dl dd .fk-c .d-zt {float:right; color:#ff6600;}
.fangke .fk-dl .fk-time {color:#b5b5b5; padding-bottom: 0.03rem;}
.fangke .fk-dl .fk-zt {text-align: right; color:#b5b5b5;}
.fangke .fk-dl .fk-txt {color:#555; margin-top: 0.1rem;}
.fangke .fk-dl .fk-img {width: 100%;}
.fk-dl dt a {display: block; overflow: hidden;}
.loadMore {text-align: center;}
.loadMore a {display: block; width: 2.3rem; margin:0 auto; padding:0.08rem; font-size: 0.14rem; background-color: #b7b7b7; color:#fff; -webkit-border-radius:0.03rem;border-radius:0.03rem;}

.lc-list li {background-color:#fff; padding:0.1rem; margin-bottom: 0.1rem; border-width:1px; overflow: hidden;}
.lc-list li .lc-num {float:left; color:#999; }
.lc-list li .lc-num em { display: inline-block;  min-width:0.42rem; max-width: 0.7rem; margin:0 0.05rem 0 0.1rem; text-align: center; color:#ff6600; font-size: 0.34rem; line-height: 0.4rem;vertical-align: -0.07rem;}
.lc-list li .lc-count {display:block; font-size: 0.14rem; color:#666;}
.lc-list li .lc-count span {color: #ff6600; display: inline-block; margin-left:0.05rem;}
.lc-list li .lc-gs {font-size: 0.14rem;  display: -webkit-box; -webkit-box-orient: horizontal; -webkit-box-align: center; display: box; box-align: center;}
.lc-list li .lc-gs em { color:#ff7e00;}

.aritle {padding:0 0.1rem;}
.aritle h2 {text-align: center; font-size: 0.18rem;padding:0.1rem 0;}
.aritle .aritle-main {margin-top: 0.1rem; font-size: 0.14rem}
.aritle .aritle-time {margin-top:0.05rem; text-align: right; color:#999;}

.yq-hm,.map-hm {background-color: #fff; font-size: 0.14rem;}
.yq-hm .yq-head,.map-hm .map-head {border-width:0; border-bottom-width: 0.01rem; padding:0.1rem 0.08rem ; font-weight: 700}
.yq-hm .yq-time {padding:0 0.1rem 0.1rem; color:#999;}
.yq-hm .yq-c {padding:0.1rem; color:#666; text-indent: 2em}
.map-hm {margin-top: 0.1rem}
.map-hm .map-head {color:#999; font-weight: 400;}
.map-hm .yq-map {padding:0.08rem;}
.sm-time {text-align: center; font-size: 0.14rem; color:#999; padding:0.1rem 0;}

.stopList li {background-color: #fff; margin-bottom: 0.1rem; padding:0.1rem; }
.stopList li .s-l {line-height: 0.3rem; color:#999;}
.stopList li .s-r {display: block; font-size: 0.14rem}
.stopList li .s-r em {font-size: 0.24rem; margin-right:0.05rem; color:#ff6600; line-height: normal;}

.sCode {text-align: center;}
.sCode .sImgs {padding: 0.3rem 0 0.2rem;}
.sCode .s-code {color:#888; font-size: 0.14rem; display: block}

.banner {}
.banner img {width: 100%}











